<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Testing Cats</title>
  </head>
  <body>
    <% @pictures.each do |pic| %>
      <a href="<%= pic.source_url %>" title="This cat with a hat is brought to you by The Cat API">
        <img src="<%= pic.url %>" alt="Cat with a hat">
      </a>
    <% end %>
  </body>
</html>
